<div class="d-flex" id="wrapper">
    <!-- Sidebar start-->
    <div class="border-end bg-dark" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-dark border-0 text-white fw-bold">dummy</div>
        <div class="list-group list-group-flush p-3 border-0">
            <div class="badge bg-primary mb-3 w-25 p-3" id="sidebarToggle"><i class="fa fa-arrow-left"
                    aria-hidden="true"></i>
            </div>
            <a class="list-group-item list-group-item-action  nav-link active rounded p-2 mb-2" href="#!"><i
                    class="fa fa-dashboard"></i> Dashboard</a>
            <a class="list-group-item list-group-item-action border-0 p-2 mb-2" href="#!"><i
                    class='fas fa-building me-2'></i>Company</a>
            <a class="list-group-item list-group-item-action  border-0 p-2 mb-2" href="#!"><i
                    class="fa fa-envelope me-2"></i>Lorem epsum</a>
            <a class="list-group-item list-group-item-action  border-0 p-2 mb-2" href="#!"><i
                    class="fa fa-dashboard me-2"></i>Meeting</a>
            <a class="list-group-item list-group-item-action  border-0 p-2 mb-2" href="#!"><i
                    class="fa fa-dashboard me-2"></i>Coaching Portfolio</a>
        </div>
    </div>
    <!-- Sidebar end-->

    <!-- Page content wrapper start-->
    <div id="page-content-wrapper">
        <!-- Top navigation start-->
        <nav class="navbar navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!">
                                <span class="badge rounded-pill bg-dark p-2"><i class="fa fa-user"
                                        aria-hidden="true"></i>
                                    Conntect witch Coach</span>
                            </a></li>
                        <li class="nav-item"><a class="nav-link text-black" href="#!"><i style='font-size:24px'
                                    class="fas position-relative"><i class='far fa-bell' style='font-size:25px'></i>
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                        <span class="visually-hidden">New alerts</span>
                                    </span></i>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="#!"><img src="https://picsum.photos/200"
                                    width="30" height="30" class="rounded"></a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Top navigation end-->

        <!-- Page content start-->
        <app-home></app-home>
        <!-- Page content end-->

    </div>
    <!-- Page content wrapper end-->

</div>